@model ProductManagement.Domain.Entities.Customer

@{
   ViewData["Title"] = "Create";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
      <!--PAGE TITLE-->
      <div class="card-title display-6 text-center">Create Customer</div>
      <hr />

      <!--CUSTOMER-->
      <div class="card shadow-sm mb-1">
         <div class="card-body">
            <form asp-action="Create" asp-controller="Customer" method="POST">
               <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               <div class="ps-2 pe-2">
                  <!--CUSTOMER NAME:-->
                  <div class="row mb-2">
                     <div class="d-grid">
                        <label asp-for="CustomerName" class="form-label">Customer Name</label>
                        <input asp-for="CustomerName" type="text" name="CustomerName" class="form-control" />
                        <span asp-validation-for="CustomerName" class="text-danger"></span>
                     </div>

                     <!--Customer Address:-->
                     <div class="d-grid">
                        <label asp-for="Address" class="form-label">Customer Address</label>
                        <input asp-for="Address" type="text" name="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                     </div>

                     <!--Customer Phone:-->
                     <div class="d-grid">
                        <label asp-for="Phone" class="form-label">Customer Phone</label>
                        <input asp-for="Phone" type="text" name="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                     </div>

                     <!--ACTION:-->
                     <div class="mt-2">
                        <button type="submit" class="btn btn-dark">
                           <i class="bi bi-check-circle"></i>&nbsp;Save&nbsp;
                        </button>

                        <a asp-action="Index" asp-controller="Customer" class="btn btn-outline-dark">
                           <i class="bi bi-arrow-left-circle"></i>&nbsp;Back&nbsp;
                        </a>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
</div>